<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nVDVoKf3Eeai1MQIRTN9hA" specification="interface:&#xA;&#x9;var roomNumber:integer&#xA;&#x9;in event switchRoom&#xA;&#xA;interface reception:&#xA;&#x9;in event doCheckIn&#xA;&#x9;in event doCheckOut&#xA;&#x9;&#xA;interface admin:&#xA;&#x9;in event doBlockRoom&#xA;&#x9;in event doUnblockRoom&#xA;&#x9;&#xA;interface room:&#xA;&#x9;in event checkIn : integer&#xA;&#x9;in event checkOut : integer&#xA;&#x9;&#xA;&#x9;in event block : integer&#xA;&#x9;in event unblock : integer&#xA;&#x9;" name="assignment4_easy">
    <regions xmi:id="_nVEjwqf3Eeai1MQIRTN9hA" name="Receptionist">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nVHnEaf3Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_nVJcQ6f3Eeai1MQIRTN9hA" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nVIOJ6f3Eeai1MQIRTN9hA" name="Idle" incomingTransitions="_nVJcQ6f3Eeai1MQIRTN9hA _9miasKf3Eeai1MQIRTN9hA _tv748Kf4Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_9miasKf3Eeai1MQIRTN9hA" specification="reception.doCheckIn/raise room.checkIn : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
        <outgoingTransitions xmi:id="_tv748Kf4Eeai1MQIRTN9hA" specification="reception.doCheckOut/raise room.checkOut : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
    </regions>
    <regions xmi:id="_pHQBIKf5EeaPELw6Hy3jPQ" name="Admin">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rb3IEKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_tYcwkKf5EeaPELw6Hy3jPQ" specification="" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9lVEKf5EeaPELw6Hy3jPQ" name="Idle" incomingTransitions="_tYcwkKf5EeaPELw6Hy3jPQ _unfWkKf5EeaPELw6Hy3jPQ _vG7EkKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_unfWkKf5EeaPELw6Hy3jPQ" specification="admin.doUnblockRoom/raise room.unblock : roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
        <outgoingTransitions xmi:id="_vG7EkKf5EeaPELw6Hy3jPQ" specification="admin.doBlockRoom/raise room.block : &#xA;roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_1cT0IKp8Eea9rP9r4tEs6w" name="roomSwitch">
      <vertices xsi:type="sgraph:Entry" xmi:id="_29vKoKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4GcfIKp8Eea9rP9r4tEs6w" specification="" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3MsMoKp8Eea9rP9r4tEs6w" name="idle" incomingTransitions="_4GcfIKp8Eea9rP9r4tEs6w _4VUooKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4VUooKp8Eea9rP9r4tEs6w" specification="switchRoom/roomNumber = (roomNumber+1)%2" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
    </regions>
    <regions xmi:id="_HXlKwNWzEee0iNykew8zEQ" name="&lt;Room0>">
      <vertices xsi:type="sgraph:Entry" xmi:id="_pq5bQNW5Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_H2DyUNW6Eee0iNykew8zEQ" specification="" target="_v_Q8UNW5Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_v_Q8UNW5Eee0iNykew8zEQ" name="&lt;Free>" incomingTransitions="_H2DyUNW6Eee0iNykew8zEQ _4nRCANW7Eee0iNykew8zEQ _BLY_MNW8Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_KELPsNW6Eee0iNykew8zEQ" specification="room.checkIn [roomNumber == 0]" target="_zbvqQNW5Eee0iNykew8zEQ"/>
        <outgoingTransitions xmi:id="_LqGEoNW6Eee0iNykew8zEQ" specification="room.block [roomNumber == 0]" target="_zxURoNW5Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zbvqQNW5Eee0iNykew8zEQ" name="&lt;Occupied>" incomingTransitions="_KELPsNW6Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_BLY_MNW8Eee0iNykew8zEQ" specification="room.checkOut [roomNumber ==0]" target="_v_Q8UNW5Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zxURoNW5Eee0iNykew8zEQ" name="&lt;Blocked>" incomingTransitions="_LqGEoNW6Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_4nRCANW7Eee0iNykew8zEQ" specification="room.unblock [roomNumber ==0]" target="_v_Q8UNW5Eee0iNykew8zEQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_r8uzoNW8Eee0iNykew8zEQ" name="&lt;Room1>">
      <vertices xsi:type="sgraph:Entry" xmi:id="_r8uzodW8Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_r8uzotW8Eee0iNykew8zEQ" specification="" target="_r8vasNW8Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r8vasNW8Eee0iNykew8zEQ" name="&lt;Free>" incomingTransitions="_r8uzotW8Eee0iNykew8zEQ _r8zsIdW8Eee0iNykew8zEQ _r8yeAdW8Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_r8wBwdW8Eee0iNykew8zEQ" specification="room.checkIn [roomNumber == 1]" target="_r8x2-dW8Eee0iNykew8zEQ"/>
        <outgoingTransitions xmi:id="_r8xP6dW8Eee0iNykew8zEQ" specification="room.block [roomNumber == 1]" target="_r8zFGdW8Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r8x2-dW8Eee0iNykew8zEQ" name="&lt;Occupied>" incomingTransitions="_r8wBwdW8Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_r8yeAdW8Eee0iNykew8zEQ" specification="room.checkOut [roomNumber == 1]" target="_r8vasNW8Eee0iNykew8zEQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r8zFGdW8Eee0iNykew8zEQ" name="&lt;Blocked>" incomingTransitions="_r8xP6dW8Eee0iNykew8zEQ">
        <outgoingTransitions xmi:id="_r8zsIdW8Eee0iNykew8zEQ" specification="room.unblock [roomNumber == 1]" target="_r8vasNW8Eee0iNykew8zEQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nVEjwKf3Eeai1MQIRTN9hA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nVDVoKf3Eeai1MQIRTN9hA" measurementUnit="Pixel">
    <children xmi:id="_nVFx4Kf3Eeai1MQIRTN9hA" type="Region" element="_nVEjwqf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVHAAKf3Eeai1MQIRTN9hA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHAAaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVHAAqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVHAA6f3Eeai1MQIRTN9hA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nVHnEqf3Eeai1MQIRTN9hA" type="Entry" element="_nVHnEaf3Eeai1MQIRTN9hA">
          <children xmi:id="_nVIOIKf3Eeai1MQIRTN9hA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nVIOI6f3Eeai1MQIRTN9hA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOJKf3Eeai1MQIRTN9hA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nVIOJaf3Eeai1MQIRTN9hA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOIaf3Eeai1MQIRTN9hA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOIqf3Eeai1MQIRTN9hA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHnE6f3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nVHnFKf3Eeai1MQIRTN9hA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOJqf3Eeai1MQIRTN9hA" x="66" y="19"/>
        </children>
        <children xmi:id="_nVI1MKf3Eeai1MQIRTN9hA" type="State" element="_nVIOJ6f3Eeai1MQIRTN9hA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nVI1NKf3Eeai1MQIRTN9hA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Naf3Eeai1MQIRTN9hA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nVI1Nqf3Eeai1MQIRTN9hA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVI1N6f3Eeai1MQIRTN9hA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nVI1OKf3Eeai1MQIRTN9hA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVI1Oaf3Eeai1MQIRTN9hA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVJcQKf3Eeai1MQIRTN9hA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Maf3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nVI1Mqf3Eeai1MQIRTN9hA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nVJcQaf3Eeai1MQIRTN9hA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVJcQqf3Eeai1MQIRTN9hA" x="39" y="73" width="86" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHABKf3Eeai1MQIRTN9hA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nVFx4af3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHnEKf3Eeai1MQIRTN9hA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nVKqZKf3Eeai1MQIRTN9hA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVLRcKf3Eeai1MQIRTN9hA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVLRcaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVLRcqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVLRc6f3Eeai1MQIRTN9hA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdKf3Eeai1MQIRTN9hA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdaf3Eeai1MQIRTN9hA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_pHSdYKf5EeaPELw6Hy3jPQ" type="Region" element="_pHQBIKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_pHVgsKf5EeaPELw6Hy3jPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pHVgsaf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pHVgsqf5EeaPELw6Hy3jPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pHVgs6f5EeaPELw6Hy3jPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rb6LYKf5EeaPELw6Hy3jPQ" type="Entry" element="_rb3IEKf5EeaPELw6Hy3jPQ">
          <children xmi:id="_rb6ycKf5EeaPELw6Hy3jPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rb6yc6f5EeaPELw6Hy3jPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ydKf5EeaPELw6Hy3jPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rb6ydaf5EeaPELw6Hy3jPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ycaf5EeaPELw6Hy3jPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6ycqf5EeaPELw6Hy3jPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6LYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rb6LYqf5EeaPELw6Hy3jPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6LY6f5EeaPELw6Hy3jPQ" x="53" y="24"/>
        </children>
        <children xmi:id="_r9mjMKf5EeaPELw6Hy3jPQ" type="State" element="_r9lVEKf5EeaPELw6Hy3jPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9nKQKf5EeaPELw6Hy3jPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9nKQaf5EeaPELw6Hy3jPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9nKQqf5EeaPELw6Hy3jPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKQ6f5EeaPELw6Hy3jPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r9nKRKf5EeaPELw6Hy3jPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9nKRaf5EeaPELw6Hy3jPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKRqf5EeaPELw6Hy3jPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9mjMaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9mjMqf5EeaPELw6Hy3jPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9nKR6f5EeaPELw6Hy3jPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9mjM6f5EeaPELw6Hy3jPQ" x="196" y="24" width="87" height="74"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHVgtKf5EeaPELw6Hy3jPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pHSdYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHSdYqf5EeaPELw6Hy3jPQ" x="225" y="478" width="793" height="226"/>
    </children>
    <children xmi:id="_1cWQYKp8Eea9rP9r4tEs6w" type="Region" element="_1cT0IKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_1cWQY6p8Eea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQZKp8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1cWQZap8Eea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1cWQZqp8Eea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_29w_0Kp8Eea9rP9r4tEs6w" type="Entry" element="_29vKoKp8Eea9rP9r4tEs6w">
          <children xmi:id="_29xm4Kp8Eea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_29xm46p8Eea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm5Kp8Eea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_29xm5ap8Eea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm4ap8Eea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29xm4qp8Eea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_29w_0ap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_29w_0qp8Eea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29w_06p8Eea9rP9r4tEs6w" x="106" y="16"/>
        </children>
        <children xmi:id="_3MszsKp8Eea9rP9r4tEs6w" type="State" element="_3MsMoKp8Eea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_3MsztKp8Eea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3Msztap8Eea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3Msztqp8Eea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Mszt6p8Eea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3MszuKp8Eea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszuap8Eea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3MtawKp8Eea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3Mszsap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3Mszsqp8Eea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3Mtawap8Eea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszs6p8Eea9rP9r4tEs6w" x="96" y="119"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQZ6p8Eea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQYap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQYqp8Eea9rP9r4tEs6w" x="630" y="10" width="262" height="298"/>
    </children>
    <children xmi:id="_HZFmoNWzEee0iNykew8zEQ" type="Region" element="_HXlKwNWzEee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_HZTpENWzEee0iNykew8zEQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HZTpEdWzEee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HZTpEtWzEee0iNykew8zEQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_HZUQINWzEee0iNykew8zEQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_pq8ekNW5Eee0iNykew8zEQ" type="Entry" element="_pq5bQNW5Eee0iNykew8zEQ">
          <children xmi:id="_pq-TwNW5Eee0iNykew8zEQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_pq-Tw9W5Eee0iNykew8zEQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_pq-TxNW5Eee0iNykew8zEQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_pq-TxdW5Eee0iNykew8zEQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pq-TwdW5Eee0iNykew8zEQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pq-TwtW5Eee0iNykew8zEQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pq8ekdW5Eee0iNykew8zEQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_pq8ektW5Eee0iNykew8zEQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pq8ek9W5Eee0iNykew8zEQ" x="25" y="125"/>
        </children>
        <children xmi:id="_v_UmsNW5Eee0iNykew8zEQ" type="State" element="_v_Q8UNW5Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_v_VNwNW5Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_v_VNwdW5Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_v_VNwtW5Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v_V00NW5Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_v_Wb4NW5Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v_Wb4dW5Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v_XC8NW5Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_v_UmsdW5Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_v_UmstW5Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_v_XC8dW5Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v_Ums9W5Eee0iNykew8zEQ" x="103" y="102" width="90" height="67"/>
        </children>
        <children xmi:id="_zbxfcNW5Eee0iNykew8zEQ" type="State" element="_zbvqQNW5Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zbyGgNW5Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zbyGgdW5Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zbyGgtW5Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zbytkNW5Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zbytkdW5Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zbytktW5Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zbytk9W5Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zbxfcdW5Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zbxfctW5Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zbytlNW5Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zbxfc9W5Eee0iNykew8zEQ" x="214" y="10" width="96" height="69"/>
        </children>
        <children xmi:id="_zxWt4NW5Eee0iNykew8zEQ" type="State" element="_zxURoNW5Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_zxXU8NW5Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zxXU8dW5Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zxXU8tW5Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zxXU89W5Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zxXU9NW5Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zxXU9dW5Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zxX8ANW5Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zxWt4dW5Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zxWt4tW5Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zxX8AdW5Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zxWt49W5Eee0iNykew8zEQ" x="213" y="199" width="97" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HZUQIdWzEee0iNykew8zEQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_HZFmodWzEee0iNykew8zEQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HZFmotWzEee0iNykew8zEQ" x="909" y="10" width="415" height="351"/>
    </children>
    <children xmi:id="_r8qiMNW8Eee0iNykew8zEQ" type="Region" element="_r8uzoNW8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r8qiMdW8Eee0iNykew8zEQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiMtW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r8qiM9W8Eee0iNykew8zEQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_r8qiNNW8Eee0iNykew8zEQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_r8qiNdW8Eee0iNykew8zEQ" type="Entry" element="_r8uzodW8Eee0iNykew8zEQ">
          <children xmi:id="_r8qiNtW8Eee0iNykew8zEQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_r8qiN9W8Eee0iNykew8zEQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiONW8Eee0iNykew8zEQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_r8qiOdW8Eee0iNykew8zEQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiOtW8Eee0iNykew8zEQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8qiO9W8Eee0iNykew8zEQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiPNW8Eee0iNykew8zEQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_r8qiPdW8Eee0iNykew8zEQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8qiPtW8Eee0iNykew8zEQ" x="25" y="125"/>
        </children>
        <children xmi:id="_r8qiP9W8Eee0iNykew8zEQ" type="State" element="_r8vasNW8Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r8qiQNW8Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiQdW8Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r8qiQtW8Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8qiQ9W8Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r8qiRNW8Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8qiRdW8Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8qiRtW8Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiR9W8Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r8qiSNW8Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r8qiSdW8Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8qiStW8Eee0iNykew8zEQ" x="103" y="102" width="90" height="67"/>
        </children>
        <children xmi:id="_r8qiS9W8Eee0iNykew8zEQ" type="State" element="_r8x2-dW8Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r8qiTNW8Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiTdW8Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r8qiTtW8Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8qiT9W8Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r8qiUNW8Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8qiUdW8Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8qiUtW8Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r8qiU9W8Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r8rJQNW8Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r8rJQdW8Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8rJQtW8Eee0iNykew8zEQ" x="214" y="10" width="96" height="69"/>
        </children>
        <children xmi:id="_r8rJQ9W8Eee0iNykew8zEQ" type="State" element="_r8zFGdW8Eee0iNykew8zEQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r8rJRNW8Eee0iNykew8zEQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r8rJRdW8Eee0iNykew8zEQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r8rJRtW8Eee0iNykew8zEQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8rJR9W8Eee0iNykew8zEQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r8rJSNW8Eee0iNykew8zEQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8rJSdW8Eee0iNykew8zEQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r8rJStW8Eee0iNykew8zEQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r8rJS9W8Eee0iNykew8zEQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r8rJTNW8Eee0iNykew8zEQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r8rJTdW8Eee0iNykew8zEQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8rJTtW8Eee0iNykew8zEQ" x="213" y="199" width="97" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8rJT9W8Eee0iNykew8zEQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_r8rJUNW8Eee0iNykew8zEQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r8rJUdW8Eee0iNykew8zEQ" x="1350" y="10" width="415" height="351"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nVEjwaf3Eeai1MQIRTN9hA"/>
    <edges xmi:id="_nVKDUKf3Eeai1MQIRTN9hA" type="Transition" element="_nVJcQ6f3Eeai1MQIRTN9hA" source="_nVHnEqf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVKqYaf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVKqYqf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVKqY6f3Eeai1MQIRTN9hA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nVKDUaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nVKqYKf3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nVKDUqf3Eeai1MQIRTN9hA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9mleAKf3Eeai1MQIRTN9hA" type="Transition" element="_9miasKf3Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9mleBKf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9mleBaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9mleBqf3Eeai1MQIRTN9hA" x="-86" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9mleAaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9mleA6f3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9mleAqf3Eeai1MQIRTN9hA" points="[15, -4, 15, -4]$[82, -23, 82, -23]$[82, 76, 82, 76]$[15, 13, 15, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6QKf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6Qaf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
    </edges>
    <edges xmi:id="_tv-VMKf4Eeai1MQIRTN9hA" type="Transition" element="_tv748Kf4Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tv-VNKf4Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tv-VNaf4Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tv-VNqf4Eeai1MQIRTN9hA" x="5" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tv-VMaf4Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tv-VM6f4Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tv-VMqf4Eeai1MQIRTN9hA" points="[25, 32, 25, 32]$[68, 85, 68, 85]$[50, 130, 50, 130]$[25, 99, 25, 99]$[8, 32, 8, 32]"/>
    </edges>
    <edges xmi:id="_tYd-sKf5EeaPELw6Hy3jPQ" type="Transition" element="_tYcwkKf5EeaPELw6Hy3jPQ" source="_rb6LYKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tYelwaf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tYelwqf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tYelw6f5EeaPELw6Hy3jPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tYd-saf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tYelwKf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tYd-sqf5EeaPELw6Hy3jPQ" points="[7, 0, -172, -3]$[182, -7, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tYga8Kf5EeaPELw6Hy3jPQ" id="(0.5287356321839081,0.14864864864864866)"/>
    </edges>
    <edges xmi:id="_unhy0Kf5EeaPELw6Hy3jPQ" type="Transition" element="_unfWkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_uniZ4af5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uniZ4qf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uniZ46f5EeaPELw6Hy3jPQ" x="-105" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_unhy0af5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uniZ4Kf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_unhy0qf5EeaPELw6Hy3jPQ" points="[23, 14, 23, 14]$[131, 81, 131, 81]$[48, 81, 48, 81]$[8, 14, 8, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEKf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEaf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
    </edges>
    <edges xmi:id="_vG8SsKf5EeaPELw6Hy3jPQ" type="Transition" element="_vG7EkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_vG8StKf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vG8Staf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vG8Stqf5EeaPELw6Hy3jPQ" x="9" y="150"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vG8Ssaf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vG8Ss6f5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vG8Ssqf5EeaPELw6Hy3jPQ" points="[19, 6, 19, 6]$[153, 48, 153, 48]$[144, -20, 144, -20]$[19, -3, 19, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4Kf5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4af5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
    </edges>
    <edges xmi:id="_4GdGMKp8Eea9rP9r4tEs6w" type="Transition" element="_4GcfIKp8Eea9rP9r4tEs6w" source="_29w_0Kp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4GdtQKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4GdtQap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4GdtQqp8Eea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4GdGMap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4GdGM6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4GdGMqp8Eea9rP9r4tEs6w" points="[0, 7, 0, -113]$[7, 144, 7, 24]"/>
    </edges>
    <edges xmi:id="_4VVPsKp8Eea9rP9r4tEs6w" type="Transition" element="_4VUooKp8Eea9rP9r4tEs6w" source="_3MszsKp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4VVPtKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4VVPtap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4VVPtqp8Eea9rP9r4tEs6w" x="19" y="76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4VVPsap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4VVPs6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4VVPsqp8Eea9rP9r4tEs6w" points="[18, 0, 18, 0]$[85, 0, 85, 0]$[85, 91, 85, 91]$[0, 91, 0, 91]$[0, 24, 0, 24]"/>
    </edges>
    <edges xmi:id="_H2G1oNW6Eee0iNykew8zEQ" type="Transition" element="_H2DyUNW6Eee0iNykew8zEQ" source="_pq8ekNW5Eee0iNykew8zEQ" target="_v_UmsNW5Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_H2G1pNW6Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H2G1pdW6Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H2HcsNW6Eee0iNykew8zEQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H2G1odW6Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H2G1o9W6Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H2G1otW6Eee0iNykew8zEQ" points="[7, 0, -76, -3]$[85, 25, 2, 22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H2KgANW6Eee0iNykew8zEQ" id="(0.21153846153846154,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_KENE4NW6Eee0iNykew8zEQ" type="Transition" element="_KELPsNW6Eee0iNykew8zEQ" source="_v_UmsNW5Eee0iNykew8zEQ" target="_zbxfcNW5Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_KENr8NW6Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KENr8dW6Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KENr8tW6Eee0iNykew8zEQ" x="-7" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KENE4dW6Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KENE49W6Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KENE4tW6Eee0iNykew8zEQ" points="[12, 0, -89, 83]$[12, -66, -89, 17]$[96, -66, -5, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KEQIMNW6Eee0iNykew8zEQ" id="(0.1346153846153846,0.018867924528301886)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KEQIMdW6Eee0iNykew8zEQ" id="(0.08620689655172414,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_LqHSwNW6Eee0iNykew8zEQ" type="Transition" element="_LqGEoNW6Eee0iNykew8zEQ" source="_v_UmsNW5Eee0iNykew8zEQ" target="_zxWt4NW5Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_LqH50dW6Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LqH50tW6Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LqH509W6Eee0iNykew8zEQ" x="17" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LqHSwdW6Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LqH50NW6Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LqHSwtW6Eee0iNykew8zEQ" points="[-3, 0, -134, -53]$[-3, 76, -134, 23]$[84, 76, -47, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LqKWENW6Eee0iNykew8zEQ" id="(0.5576923076923077,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LqKWEdW6Eee0iNykew8zEQ" id="(0.7241379310344828,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_4nSQINW7Eee0iNykew8zEQ" type="Transition" element="_4nRCANW7Eee0iNykew8zEQ" source="_zxWt4NW5Eee0iNykew8zEQ" target="_v_UmsNW5Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_4nSQJNW7Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4nSQJdW7Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4nSQJtW7Eee0iNykew8zEQ" x="-17" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4nSQIdW7Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4nSQI9W7Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4nSQItW7Eee0iNykew8zEQ" points="[0, 0, 111, 67]$[0, -54, 111, 13]$[-103, -54, 8, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4nUsYNW7Eee0iNykew8zEQ" id="(0.6285714285714286,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4nUsYdW7Eee0iNykew8zEQ" id="(0.8461538461538461,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_BLaNUNW8Eee0iNykew8zEQ" type="Transition" element="_BLY_MNW8Eee0iNykew8zEQ" source="_zbxfcNW5Eee0iNykew8zEQ" target="_v_UmsNW5Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BLa0YNW8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BLa0YdW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BLa0YtW8Eee0iNykew8zEQ" x="-30" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BLaNUdW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BLaNU9W8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BLaNUtW8Eee0iNykew8zEQ" points="[0, 0, 128, -68]$[-104, 74, 24, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BLd3sNW8Eee0iNykew8zEQ" id="(0.6470588235294118,1.0)"/>
    </edges>
    <edges xmi:id="_r82vcNW8Eee0iNykew8zEQ" type="Transition" element="_r8uzotW8Eee0iNykew8zEQ" source="_r8qiNdW8Eee0iNykew8zEQ" target="_r8qiP9W8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r82vcdW8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r82vctW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r82vc9W8Eee0iNykew8zEQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r82vdNW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r82vddW8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r82vdtW8Eee0iNykew8zEQ" points="[7, 0, -76, -3]$[85, 25, 2, 22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r82vd9W8Eee0iNykew8zEQ" id="(0.21153846153846154,0.5471698113207547)"/>
    </edges>
    <edges xmi:id="_r82veNW8Eee0iNykew8zEQ" type="Transition" element="_r8wBwdW8Eee0iNykew8zEQ" source="_r8qiP9W8Eee0iNykew8zEQ" target="_r8qiS9W8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r82vedW8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r82vetW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r82ve9W8Eee0iNykew8zEQ" x="-7" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r82vfNW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r82vfdW8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r82vftW8Eee0iNykew8zEQ" points="[12, 0, -89, 83]$[12, -66, -89, 17]$[96, -66, -5, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r82vf9W8Eee0iNykew8zEQ" id="(0.1346153846153846,0.018867924528301886)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r82vgNW8Eee0iNykew8zEQ" id="(0.08620689655172414,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_r83WgNW8Eee0iNykew8zEQ" type="Transition" element="_r8xP6dW8Eee0iNykew8zEQ" source="_r8qiP9W8Eee0iNykew8zEQ" target="_r8rJQ9W8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r83WgdW8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r83WgtW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r83Wg9W8Eee0iNykew8zEQ" x="17" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r83WhNW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r83WhdW8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r83WhtW8Eee0iNykew8zEQ" points="[-3, 0, -134, -53]$[-3, 76, -134, 23]$[84, 76, -47, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r83Wh9W8Eee0iNykew8zEQ" id="(0.5576923076923077,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r83WiNW8Eee0iNykew8zEQ" id="(0.7241379310344828,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_r83WidW8Eee0iNykew8zEQ" type="Transition" element="_r8zsIdW8Eee0iNykew8zEQ" source="_r8rJQ9W8Eee0iNykew8zEQ" target="_r8qiP9W8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r83WitW8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r83Wi9W8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r83WjNW8Eee0iNykew8zEQ" x="-17" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r83WjdW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r83WjtW8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r83Wj9W8Eee0iNykew8zEQ" points="[0, 0, 111, 67]$[0, -54, 111, 13]$[-103, -54, 8, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r83WkNW8Eee0iNykew8zEQ" id="(0.6285714285714286,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r83WkdW8Eee0iNykew8zEQ" id="(0.8461538461538461,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_r83WktW8Eee0iNykew8zEQ" type="Transition" element="_r8yeAdW8Eee0iNykew8zEQ" source="_r8qiS9W8Eee0iNykew8zEQ" target="_r8qiP9W8Eee0iNykew8zEQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r83Wk9W8Eee0iNykew8zEQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r83WlNW8Eee0iNykew8zEQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r83WldW8Eee0iNykew8zEQ" x="-30" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r83WltW8Eee0iNykew8zEQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r83Wl9W8Eee0iNykew8zEQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r83WmNW8Eee0iNykew8zEQ" points="[0, 0, 128, -68]$[-104, 74, 24, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r83WmdW8Eee0iNykew8zEQ" id="(0.6470588235294118,1.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
